{{ 'no-saints-featured-content.css' | asset_url | stylesheet_tag }}

<div class="no-saints-container">
    <div class="no-saints-container__block">
        {%- for block in section.blocks -%}
            <div class="no-saints-container__block-item">
                <div class="no-saints-container__block-img">
                    {{ block.settings.no-saints-container__block-img1 | image_url: width: 500 | image_tag: class: 'test' }}
                </div>
                <div class="no-saints-container__block-text">
                    <h3>{{ block.settings.no-saints-container__block-text }}</h3>
                </div>
            </div>
        {%- endfor -%}
    </div>
</div>
{% schema %}
{
    "name": "No-saints Section",
    "max_blocks":3,
    "blocks": [
        {
            "type":"Image",
            "name":"Image",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "no-saints-container__block-img1",
                    "label": "Choose Block Image 1"
                },
                {
                    "type": "text",
                    "id": "no-saints-container__block-text",
                    "label": "Add Image Description"
                }
            ]
           
        }
    ],
    "presets": [
       {
        "category": "No-saints-category",
        "name": "No-saints Features Section"
       }
    ]
}
{% endschema %}
