.badge-item {
  display: inline-block;
  background-color: #ff0000; /* Red background */
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 5px 10px;
  max-width: 70px;
  max-height: 35px;
  border-radius: 5px; /* Rounded corners */
  text-align: center;
  margin: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Adding a shadow for depth */
}

/* @media (min-width: 575px) {
  .badge-item {
    display: inline-block;
    background-color: #ff0000;
    color: white;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
    max-width: 50px;
    max-height: 25px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
} */

.modal-plus-button {
  font-size: 30px; /* Adjust the size of the plus symbol */
  font-weight: bold;
  color: black; /* Change this to the desired text color */
  border-radius: 50%; /* Make the button circular */
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.modal-plus-button:hover {
  background-color: #0056b3; /* Darker color on hover */
}
