body,
html {
  overflow-x: hidden;
}

.dual-image-section {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1400px;
  padding: 0 10px; /* Ensure no overflow */
  box-sizing: border-box; /* Include padding and borders in width calculations */
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 10px;
  box-sizing: border-box;
}

.image-heading {
  font-size: 22px;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.image-container img {
  width: 100%;
  max-width: 100%; /* Ensure image does not exceed container width */
  height: 880px;
  object-fit: cover;
  display: block;
  overflow-x: hidden;
}

@media (max-width: 1100px) {
  .image-container img {
    height: 800px;
  }
}

@media (max-width: 991px) {
  .image-container img {
    height: 660px;
  }
}

@media (max-width: 758px) {
  .image-container img {
    height: 540px;
  }
}

@media (max-width: 575px) {
  .image-container {
    margin: 0px;
  }
  .dual-image-section {
    flex-direction: column;
  }

  .image-container {
    width: 100%;
    margin-bottom: 20px;
  }

  .image-container img {
    width: 100%;
  }
}
