.testimonial-container {
  position: relative;
  width: 100%;
  padding: 40px 60px;
  margin: 30px auto;
  overflow: hidden;
}

.testimonial-heading {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  margin-top: 100px;
}

.testimonial-slider {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.testimonial-item {
  flex: 0 0 87%;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 20px;
  background: white;
  border-radius: 10px;
}

.testimonial-content {
  text-align: center;
}

.testimonial-content p {
  color: #333;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}

.testimonial-content h2 {
  font-size: 20px;
  color: black;
  margin-top: 0;
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 99;
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: #fff;
  color: black;
  font-size: 30px;
  text-align: center;
  border-radius: 50%;
  border: none;
  opacity: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: visible;
}

.slick-previous {
  left: -7px;
}

.slick-nextarrow {
  right: -7px;
}

.slick-prev:hover,
.slick-next:hover {
  background-color: #ccc;
}
.slick-prev::before,
.slick-next::before {
  content: "";
}

.slick-prev::before {
  content: "-";
}

.slick-next::before {
  content: "+";
}

@media (max-width: 768px) {
  .testimonial-item {
    flex: 0 0 50%;
  }

  .testimonial-container {
    position: relative;
    width: 100%;
    padding: 0px 60px;
    margin: 5px auto;
    overflow: hidden;
  }
}

@media (max-width: 1024px) {
  .testimonial-item {
    flex: 0 0 33.33%;
  }
}
